<h2> Liste des notes </h2>
{% for n in Note  %}
    <ul>
        <li>Matière : {{ n.matiere }} </li>
        <li>Note : {{ n.valeur }} </li>


    </ul>
    <a href="{{ path("updateNote",{'id' : n.id}) }}">
        <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button> </a>

    <a href="{{ path("deleteNote",{'id' : n.id}) }}">
        <button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button> </a>
{%  endfor %}
