<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}AtelierBundle:Atelier:Ajout{% endblock %}</title>
</head>
<body>
{% block body %}
    <h1>Welcome to the Atelier:Ajout page</h1>
    {{ form(form) }}
{% endblock %}
</body>
</html>




