{% block title %}AtelierBundle:Atelier:Afficher{% endblock %}

{% block body %}
<h1>Welcome to the Atelier:Afficher page</h1>
<table border="1">

    <tr><td>nom</td>
        <td>Description</td>
    </tr>
    <tr><td>{{ atelier.nom }}</td>
        <td>{{ atelier.description }}</td></tr>

</table>
<select>
    {% set foo = "" %}
    {% for enfant in enfants %}
        {% set foo = "" %}
        <option>
       {{ enfant.id }}
   </option>
        {% set foo = enfant %}
    {% endfor %}
</select>
    <button type="submit" class="dcare__btn"  href="{{ path('inscrire_atelier', { 'id':atelier.id }) }}">submit</button>


{% endblock %}