{% extends 'base.html.twig' %}
{% block body %}
    <h1>  Liste des Actualités! </h1>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for c in Actualite %}
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="{{ asset('uploads/post' ~ c.Image) }}" >
                          <div class="card-body">
                              <p class="card-text">{{ c.Description }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                     <a href="{{ path('actualite_updateActualite',{'id': c.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button> </a>
                                      <a href="{{ path('actualite_supprimeActualite',{'id': c.id}) }}"><button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button> </a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}